* {
	box-sizing: border-box;
}
body {
	margin: 0;
	padding: 0;
	background-color: #E0FFFF;
	background-size: 100%;
}
.header {
	top: 0;
	height: 90px;
	width: 100%;
	background: #AFEEEE;
	position: fixed;
	z-index: 10;
}
h1 {
	color: #1E90FF;
	font-size: 30px;
	font-family: cursive;
	text-align: center;
}
aside {
	position: absolute;
	margin-left: 150px;
	border-right: 2px solid #1E90FF;
	width: 260px;
}
h2 {
	color: #1E90FF;
	font-size: 22px;
	font-family: cursive;
}
h3 {
	color: #1E90FF;
	font-size: 20px;
	font-family: cursive;
	margin: 5px;
	padding-left: 5px;
}
.letters {
	position: sticky;
	background: #AFEEEE;
	height: 40px;
	width: 77%;
	top: 95px;
	z-index: 20;
}
.letters-margin {
	margin-top: 140px;
}
main {
	padding-left: 425px;
	padding-right: 150px;
}
.surname {
	position: relative;
	left: 10px;
	width: 77%;
}
a:link {
    color: #FFFF00;
    padding: 2px;
}
a:hover {
    background: #AFEEEE;
    color: #000000;
} 
