* {
	box-sizing: border-box;
}
body {
	margin: 0;
	padding: 0;
	background-color: #E0FFFF;
	background-size: 100%;
}
main {
	padding-left: 425px;
	padding-right: 150px;
}
.header {
	top: 0;
	height: 90px;
	width: 100%;
	background: #AFEEEE;
	position: fixed;
	z-index: 10;
}
.heder__title {
	color: #1E90FF;
	font-size: 30px;
	font-family: cursive;
	text-align: center;
}
.sidebar {
	position: absolute;
	margin-left: 150px;
	border-right: 2px solid #1E90FF;
	width: 13%;
    min-width: 170px;
}
.sidebar__title {
	color: #1E90FF;
	font-size: 22px;
	font-family: cursive;
}
.sidebar__link:link {
    color: #1E90FF;
    padding: 2px;
}
.sidebar__link:hover {
    background: #AFEEEE;
    color: #000000;
} 
.list {
	position: relative;
	width: 77%;
	min-width: 250px;
}
.list__title {
	color: #1E90FF;
	font-size: 20px;
	font-family: cursive;
	margin: 5px;
	padding-left: 5px;
}
.list__letters {
	position: sticky;
	background: #AFEEEE;
	height: 40px;
	top: 95px;
	z-index: 20;
}
.list__letters-margin {
	margin-top: 140px;
}
.list__surname {
	left: 10px;
}
.list__surname_text_red {
	color: red;
}
