* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.input, label {
	display: block;
}

.main__screen {
	background-color: #1B2473;
	height: 100vh;
	padding: 20px;
}

.form__auth {
	width: 100%;
	height: 100%;
	background: #FFFFFF;
	box-shadow: 0px 0px 40px 10px rgba(0, 0, 0, 0.25);
	border-radius: 20px;
	text-align: center;
	padding: 38px 45px;
}

.enter {
	font-style: normal;
	font-weight: bold;
	font-size: 60px;
	line-height: 50px;
	color: #787878;
	padding-bottom: 17px;
}

.email {
	padding-left: 8px;
	padding-bottom: 8px;
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 16px;
	color: #787878;
}

.input__email {
	width: 100%;
	border: 2px solid #787878;
	box-sizing: border-box;
	border-radius: 10px;
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 28px;
	line-height: 36px;
	color: #787878;
	padding: 7px 15px;
}

.pass {
	padding-left: 8px;
	padding-bottom: 8px;
	padding-top: 13px;
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 16px;
	color: #787878;
}

.input__pass {
	width: 100%;
	background: #FFFFFF;
	border: 2px solid #787878;
	box-sizing: border-box;
	border-radius: 10px;
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 28px;
	line-height: 36px;
	color: #787878;
	padding: 7px 15px;
}

.input__email::placeholder {
    color: #ccc;
}

.input__pass::placeholder {
    color: #ccc;
}

.free__text {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 16px;
	color: #787878;
	padding-top: 27px;
	padding-left: 10px;
}

.checkbox {
	position: relative;
	display: flex;
}

.checkbox > input {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	margin: 0;
}

.checkbox-mark {
	width: 32px;
	height: 32px;
	left: 0px;
	top: 0px;
	background: #FFFFFF;
	border: 2px solid #787878;
	box-sizing: border-box;
	border-radius: 7px;
	margin-top: 14px;
	margin-bottom: 24px;
}

.checkbox > input:checked + .checkbox-mark::after {
	content: 'X';
	position: absolute;
	color: red;
	top: 20px;
	left: 10px;
}

.form__button {
	width: 220px;
	height: 80px;
	background: #1A226B;
	border-radius: 10px;
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 32px;
	line-height: 16px;
	color: #FFFFFF;
}

@media screen and (min-width: 769px) {
	.main__screen {
		display: flex;
		justify-content: center;  
		height: 100vh;				
	}

	.form__auth {
		width: 600px;
		height: 412px;
		margin-top: 82px;
	}

	.enter {
		font-size: 50px;
		line-height: 50px;
	}

	.email {
		font-size: 16px;
	}

	.input__email {
		font-size: 28px;
		line-height: 36px;
	}

	.pass {
		font-size: 16px;
	}

	.input__pass {
		font-size: 28px;
		line-height: 36px;
	}

	.input__email::placeholder {
	    color: #ccc;
	}

	.input__pass::placeholder {
	    color: #ccc;
	}

	.free__text {
		font-size: 14px;
		line-height: 16px;
		color: #787878;
		padding: 5px 7px;
		padding-top: 20px;
	}

	.input__checkbox {
		margin-bottom: 14px;
		width: 24px;
		height: 24px;
		margin-top: 16px;
	}

	.form__button {
		width: 180px;
		height: 52px;
		font-size: 24px;
	}
}
